extends Tamplate/head

block content
    .main
        include Tamplate/menu
        span.game-title#massage Ходит игрок Х
        .game
            -var val=1
            while val<1
                .game-item(date-ceil - val++)

        button#reset-game Очистить
        button#reset-game1 Очистить