extends Tamplate/head

block content
    .main
        include Tamplate/menu
        span.game-title#message Ходит игрок Х
        .game
            -for(var x = 1; x < 10; x++)
                .game-item(data-ceil = x)

        button#reset-game Очистить

